{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events in the Department</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/fullcalendar.css" %}" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="{% static "js/jquery-3.1.0.js"%}"></script>
    <script type="text/javascript" src={% static "js/materialize.min.js"%}></script>
    <script type="text/javascript" src={% static "js/moment.js"%}></script>
    <script type="text/javascript" src={% static "js/fullcalendar.js"%}></script>


</head>
<body>

<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <ul class="center-align hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn" href="/events/home/register_event/">Create An Event</a></li>
            <li><a id="myBtn" class="waves-effect waves-light btn" >Available Resources</a></li>


            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">×</span>
                <p style="color: red;">Some text in the Modal..</p>

                 <p style="color: black">

                    <input type="date" id="getdate" /><br>
                        <a id="ok" class="btn btn-success"  onclick="myFunction()"> OK </a>

{#                 <script type="text/javascript"#}
{#src={% static "js/Calendar.aspx"%}></script>#}

                 </p>
              </div>

            </div>
<script>
function myFunction() {
    var value=document.getElementById("getdate").value;

    document.getElementById("ok").href="/events/home/resources/"+value
}
</script>
            <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal

            var btn = document.getElementById("myBtn");
            var date=document.getElementById("getdate");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
            </script>




            <li><a class="waves-effect waves-light btn" href="/events/home/staff/all">Faculty List</a></li>

        </ul>
          <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
      </div>
    </nav>
    </div>

    <p></p>
    <div class="container">
        <div id="calendar" class="fc fc-unthemed fc-ltr">
        </div>
    </div>

    <p></p>
    <div class="container">
    <div class="row">
        {% for l in eventslist %}
        <div class="col s12 m12 l12">
            <a href="/events/home/register_event/see/{{ l.id }}">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ l.eventname }}</span>
              <p>About The Event : {{ l.description }}</p>
                <p>Date Of Event : {{ l.venue__date }}</p>
                <p>Venue : {{ l.venue__resource__resource_name }}</p>
                <p>Start Time : {{ l.venue__starttime }}</p>
                <p>End Time : {{ l.venue__endtime}}</p>
{#                <p>Resource Person : {{ l.resourceperson}}</p>#}
{#                <p>Workplace Of Resource Person: {{ l.res_person_workplace}}</p>#}
{#                <p>Staff Name : {{ l.staffid__first_name}}</p>#}
            </div>
{#              <div class="card-action">#}
{#              <a href="/events/home/edit/{{ l.id }}">Delete</a>#}
{#              </div>#}

          </div>
            </a>
        </div>
        {% endfor %}
      </div>


{#   <a class="waves-effect waves-light btn" href="/events/home/register_event/">Create an event</a>#}

    </div>

<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            events: [
                {% for l in eventslist %}
                    {
                        title: '{{ l.eventname }}',
                        start: '{{ l.venue__date }}',
                        url: '/events/home/register_event/see/'+'{{ l.id }}'
                    },
                {% endfor %}
            ],

            eventClick: function(event) {
                if (event.url){
                    window.open(event.url, "_blank");
                    return false;
                }
            },

            height: 650,
        });
    });
</script>

</body>
</html>