<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
         <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
    <a class="btn btn-primary btn-lg" href="/1177/view_events"  >List Of Events</a>
{#    <button type="button" class="btn btn-primary">List Of Events</button>#}
    <button type="button" class="btn btn-success">Register An Event</button>
{#    <button type="button" class="btn btn-warning">Regiter an event</button>#}


</body>
</html>